language: <%= @language -%>
<% if @language == 'ruby' %>
rbenv:
<% if @current_ruby_version -%>
  - "<%= @current_ruby_version -%>"
<% else -%>
  - "2.1.0"
<% end -%>
# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec
<% end -%>
